body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222831;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.neon-border {
    position: relative;
    padding: 30px;
    margin: 20px;
    text-align: center;
    color: #f96d00;
    font-size: 24px;
    text-shadow: 0 0 5px #f96d00, 0 0 10px #f96d00, 0 0 20px #f96d00, 0 0 40px #f96d00;
    border: 2px solid #f96d00;
    box-shadow: 0 0 5px #f96d00, 0 0 10px #f96d00, 0 0 20px #f96d00, 0 0 40px #f96d00;
    background-color: rgba(53, 53, 53, 0.5);
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
}

.slider-container {
    padding: 0;
}

.titulo-principal {
    color: white;
    font-size: 30px;
    box-shadow: none;
    text-shadow: none;
}

.titulo {
    margin-bottom: 20px;
    color: white;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 18px;
    line-height: 1.5;
}

.js, .mysql, .html, .java {
    position: absolute;
}

.js img, .mysql img, .html img, .java img {
    width: 50px;
    height: auto;
    filter: drop-shadow(0 0 2px #f96d00) drop-shadow(0 0 2px #f96d00) drop-shadow(0 0 20px #f96d00);
}

@keyframes float-js {
    0% { transform: translate(-360px, -360px); } /* Comienza en la esquina superior izquierda */
    25% { transform: translate(-350px, -937.8px); } /* Baja 1 cm más */
    50% { transform: translate(350px, -937.8px); } /* Mueve a la derecha */
    75% { transform: translate(350px, -360px); } /* Sube a la misma posición horizontal */
    100% { transform: translate(-360px, -360px); } /* Regresa a la posición inicial pero sube 1 cm más */
}




@keyframes float-mysql {
    0% { transform: translate(350px, 150px); } /* Posición inicial */
    25% { transform: translate(350px, -400px); } /* Baja */
    50% { transform: translate(-350px, -400px); } /* Mueve a la izquierda */
    75% { transform: translate(-350px, 150px); } /* Sube */
    100% { transform: translate(350px, 150px); } /* Regresa a la posición inicial */
}

@keyframes float-html {
    0% { transform: translate(-350px, -900px); } /* Posición inicial */
    25% { transform: translate(-350px, -500px); } /* Movimiento hacia abajo */
    50% { transform: translate(350px, -500px); } /* Movimiento hacia la derecha */
    75% { transform: translate(350px, -900px); } /* Movimiento hacia arriba */
    100% { transform: translate(-350px, -900px); } /* Regresa a la posición inicial */
}

@keyframes float-java {
    0% { transform: translate(350px, -900px); } /* Comienza en la esquina superior derecha */
    25% { transform: translate(350px, -500px); } /* Baja */
    50% { transform: translate(-350px, -500px); } /* Mueve a la izquierda */
    75% { transform: translate(-350px, -900px); } /* Sube */
    100% { transform: translate(350px, -900px); } /* Regresa a la posición inicial */
}

.floating-java {
    animation: float-java 10s infinite ease-in-out;
}

.floating-js {
    animation: float-js 10s infinite ease-in-out;
}

.floating-mysql {
    animation: float-mysql 10s infinite ease-in-out;
}

.floating-html {
    animation: float-html 10s infinite ease-in-out;
}

.perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 10px;
    max-width: 50%;
}

.arrow {
    margin-top: 3%;
    margin-left: 10%;
}

.contacto {
    color: white;
    font-size: 30px;
    box-shadow: none;
    text-shadow: none;
    margin-left: -35%;
    text-decoration: none;
}

.redes-sociales {
    display: flex;
    gap: 100px;
    margin-top: 20px;
}

.redes-sociales a {
    display: block;
}

.redes-sociales img {
    width: 40px;
    height: auto;
}

/* Estilos para la sección de repositorios */
.repositorios {
    margin-top: 50px;
    width: 100%;
    max-width: 700px;
    padding: 30px;
    background-color: rgba(53, 53, 53, 0.5);
    border: 2px solid #f96d00;
    box-shadow: 0 0 5px #f96d00, 0 0 10px #f96d00, 0 0 20px #f96d00, 0 0 40px #f96d00;
}

.repositorios h2 {
    color: #fefefe;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.repositorios ul {
    list-style-type: none;
    padding: 0;
}

.repositorios li {
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.repositorios li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.repositorios a {
    color: #f96d00;
    text-decoration: none;
    font-size: 18px;
}

.repositorios a:hover {
    text-decoration: underline;
}
