body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e0e0f; /* Fondo oscuro para el cuerpo */
    margin: 0;
    font-family: 'Anonymous Pro', monospace; /* Aplicar fuente Anonymous Pro */
    overflow-x: hidden;
    position: relative;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.neon-border {
    position: relative;
    padding: 30px;
    margin: 20px;
    text-align: center;
    color: #1e90ff; /* Azul cielo oscuro */
    font-size: 24px;
    text-shadow: 0 0 5px #1e90ff, 0 0 10px #1e90ff, 0 0 3px #1e90ff, 0 0 30px #1e90ff; /* Efecto neón azul */
    border: 2px solid #1e90ff;
    box-shadow: 0 0 3px #1e90ff, 0 0 10px #1e90ff, 0 0 3px #1e90ff, 0 0 30px #1e90ff;
    background-color: rgba(53, 53, 53, 0.5);
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
}

.titulo-principal {
    margin-top: 7%;
    color: white;
    font-size: 30px;
    box-shadow: none;
    text-shadow: none;
}

.titulo {
    margin-bottom: 20px;
    color: white;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 15px;
    line-height: 1.5;
}

.js, .mysql, .html, .java {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.js img, .mysql img, .html img, .java img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 1px #1e90ff) drop-shadow(0 0 1px #1e90ff) drop-shadow(0 0 3px #1e90ff); /* Efecto de sombra azul */
}

/* Cometas */
.comet-blue, .comet-white {
    width: 4px;
    height: 4px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 10px;
    animation-timing-function: ease-in-out;
}

.comet-blue {
    background: rgba(0, 153, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 153, 255, 0.8);
    animation: cometBlue 7s infinite;
}

.comet-white {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    animation: cometWhite 10s infinite;
}

@keyframes cometBlue {
    0% {
        top: -10%;
        left: 100%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    100% {
        top: 110%;
        left: -10%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

@keyframes cometWhite {
    0% {
        top: 10%;
        left: -10%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    100% {
        top: 110%;
        left: 110%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

/* Fondo estrellado */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/stardust.png');
    z-index: -1;
    opacity: 0.5;
}

.perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 10px;
    max-width: 50%;
}

.arrow {
    margin-top: 3%;
    margin-left: 6%;
}

.texto {
    color: white;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
    box-shadow: none;
    text-shadow: none;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
.contacto {
    color: white;
    font-size: 30px;
    box-shadow: none;
    text-shadow: none;
    margin-left: -35%;
    text-decoration: none;
}

.redes-sociales {
    display: flex;
    gap: 100px;
    margin-top: 20px;
}

.redes-sociales a {
    display: block;
}

.redes-sociales img {
    width: 40px;
    height: auto;
}

/* Estilos para la sección de repositorios */
.repositorios {
    margin-top: 100px;
    width: 100%;
    max-width: 700px;
    padding: 30px;
    background-color: rgba(53, 53, 53, 0.5);
    border: 2px solid #1e90ff;
    box-shadow: 0 0 3px #1e90ff, 0 0 10px #1e90ff, 0 0 3px #1e90ff, 0 0 30px #1e90ff;
    font-family: 'Roboto', sans-serif;
}

.repositorios h2 {
    color: #fefefe;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.repositorios ul {
    list-style-type: none;
    padding: 0;
}

.repositorios li {
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.repositorios li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.repositorios a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.repositorios a:hover {
    text-decoration: underline;
}

.tecnologias {
    display: flex;
    gap: 80px; /* Espacio uniforme entre los íconos */
    margin-top: 5%;
    color: #fefefe;
    filter: drop-shadow(0 0 2px #1e90ff) drop-shadow(0 0 1px #1e90ff) drop-shadow(0 0 5px #1e90ff); /* Sombra azul para los íconos */
    /* No necesitas justify-content: space-between si usas gap */
}

/* Estilos básicos para el navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    padding: 10px;
    z-index: 1000; /* Asegura que el navbar esté encima del contenido */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco semi-transparente al pasar el ratón */
}

.titulo-tecnologias{
    margin-top: 2%;
    color: white;
    font-size: 24px;
    box-shadow: none;
    text-shadow: none;
}

/* Media Queries para responsive */
@media (max-width: 768px) {
    .neon-border {
        padding: 20px;
        font-size: 20px;
    }
    .titulo-principal {
        font-size: 24px;
    }
    .titulo {
        font-size: 14px;
    }
    .js, .mysql, .html, .java {
        width: 40px;
        height: 40px;
    }
    .redes-sociales {
        flex-direction: column;
        gap: 20px;
    }
    .contacto {
        font-size: 24px;
        
    }
    .arrow {
        margin-top: 3%;
        margin-left: 15%;
    }
    .perfil {
        width: 120px;
        height: 120px;
    }
    .tecnologias {
        gap: 40px;
        margin-top: 10%;
    }
    .titulo-tecnologias{
        margin-top: 30%;
    }
}

@media (max-width: 480px) {
    .neon-border {
        padding: 15px;
        font-size: 18px;
    }
    .titulo-principal {
        font-size: 20px;
    }
    .titulo {
        font-size: 12px;
    }
    .js, .mysql, .html, .java {
        width: 30px;
        height: 30px;
    }
    .redes-sociales {
        gap: 15px;
    }
    .contacto {
        font-size: 20px;
    }
    .perfil {
        width: 100px;
        height: 100px;
    }
    .tecnologias {
        gap: 20px;
    }
    .texto{
        font-size: 15px;
    }
}

.project-cards {
    display: flex;
    justify-content: center; /* Cambia a center para que las tarjetas se mantengan juntas */
    margin: 40px 0;
    gap: 30px; /* Añade un gap pequeño entre las tarjetas */
}

.card {
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 20%; /* Ajusta el tamaño de la tarjeta para que ocupen menos espacio */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin: 0; /* Elimina margen extra entre las tarjetas */
    display: flex;
    flex-direction: column; /* Hacer que las tarjetas se comporten como columnas */
    justify-content: space-between; /* Espacio entre el contenido y los botones */
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h3 {
    margin: 15px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: #fff;
}

.card p {
    color: #aaa;
    font-size: 1em;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center; /* Centramos los botones */
    margin-top: auto; /* Llevar los botones al fondo */
}

.btn {
    background-color: #1e90ff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0077b6;
}

.titulo-proyectos {
    color: white;
    font-size: 24px;
    box-shadow: none;
    text-shadow: none;
}

.card ul {
    list-style-type: none; /* Elimina los puntos de la lista por defecto */
    padding: 0; /* Elimina el padding por defecto */
    margin: 20px 0; /* Añade un margen superior e inferior */
}

.card ul li {
    background-color: #444; /* Fondo gris oscuro para cada elemento de la lista */
    color: #fff; /* Texto blanco */
    padding: 10px; /* Añade espacio dentro de cada elemento de la lista */
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transición para hover */
}

.card ul li:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el mouse */
    transform: translateX(5px); /* Mueve ligeramente el elemento hacia la derecha al pasar el mouse */
}

.card ul li::before {
    content: "• "; /* Añade un símbolo antes de cada elemento */
    color: #1e90ff; /* Color azul para el símbolo */
    font-weight: bold; /* Negrita para el símbolo */
}

.repos-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.repo-card {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    filter: drop-shadow(0 0 1px #ffffff) drop-shadow(0 0 1px #f8f8f8) drop-shadow(0 0 5px #fdfeff); /* Sombra azul para los íconos */
    transition: transform 0.3s ease-in-out;
}

.repo-card h3 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-bottom: 10px;
}

.repo-card p {
    font-family: 'Anonymous Pro', monospace;
    color: #aaa;
    margin-bottom: 15px;
}

.repo-card .btn {
    background-color: #1e90ff;
    color: #1e1e1e;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.repo-card .btn:hover {
    background-color: white;
}

.repo-card:hover {
    transform: scale(1.05);
}

.repo-card .button-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    margin-top: 10px; /* Añade un pequeño margen superior si es necesario */
}

.repo-card .btn {
    background-color: #1e90ff;
    color: #1e1e1e;
    text-decoration: none;
    padding: 5px 10px; /* Botón más pequeño */
    font-size: 12px; /* Tamaño de fuente más pequeño */
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.repo-card .btn:hover {
    background-color: #0077b6;
}
